# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Ping-Pong.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity Projects\Ping-Pong\.idea\.idea.Ping-Pong\.idea/dataSources/
/dataSources.local.xml
